@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --background-dark: #000000;
  --text-primary: #1F1F1F;
  --text-links: #A4A4A4;
  --text-subtitle: #666666;
  --divider: #A4A4A4;
  --left-panel-footer-height: 133px;
}

@theme inline {
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  --color-text-primary: var(--text-primary);
  --color-text-links: var(--text-links);
  --color-text-subtitle: var(--text-subtitle);
  --color-divider: var(--divider);

  --font-urbanist: var(--nf-urbanist), sans-serif;
  --font-inter: var(--nf-inter), sans-serif;
  --font-manrope: var(--nf-manrope), sans-serif;
  --font-google-sans: var(--nf-google-sans-flex), sans-serif;
}

html, body {
  overflow: hidden;
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-urbanist);
}

.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
.no-scrollbar::-webkit-scrollbar { display: none; }

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@keyframes drawLineDown {
  from { clip-path: inset(0 0 100% 0); }
  to   { clip-path: inset(0 0 0% 0); }
}

@keyframes drawLineLeft {
  from { clip-path: inset(0 0% 0 100%); }
  to   { clip-path: inset(0 0% 0 0%); }
}

@keyframes drawLineUp {
  from { clip-path: inset(100% 0 0 0); }
  to   { clip-path: inset(0 0 0 0); }
}
